{% extends 'base.html' %}

{% block content %}
<header class="blog-header py-3">
</header>
<div class="bg-light p-5 rounded">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Contacts List</h2>
        {% for contact in contacts %}
             <div class="alert alert-info" role="alert">
              <a class="btn btn-dark" aria-current="page" href="{% url 'loans:contact_detail' id=contact.id %}">{{contact.name}} {{contact.number}}</a>
             </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}