{% extends 'base.html' %}

{% block content %}
<header class="blog-header py-3">
</header>
<div class="bg-light p-5 rounded">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Contact</h2>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{contact.name}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{contact.number}}</h6>
              <p class="card-text"> Debit: {{contact.debit}}</p>
              <p class="card-text"> Credit: {{contact.credit}}</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}