{% extends 'base.html' %}

{% block content %}
<header class="blog-header py-3">
</header>
<div class="bg-light p-5 rounded">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Sign up</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}